<h1 id="quiz-title">Before you begin...</h1>
		<div id="intro">
			<p>This quiz is designed to test your ability to match a country with the correct capital city.  Each question will provide you a with the name of a country and four capital city options, three incorrect and one correct.  You must attempt to pick the correct option as quickly as possible.  Your score for each question is based firstly on whether or not you answer correctly and secodly on the speed with which you answer.  As you answer questions correctly you will progress through levels which have increasing difficulty.<br>
			<br>
			Good Luck.<p>

			<%= button_tag "Begin quiz", class: 'btn btn-default', id: 'home-btn', onclick: "beginQuiz()" %>
		</div>

		<div class="row">
			<div id="quiz-box">
			<div id="quiz">
			<div class="col-xs-4">
				<h2 class="quizlines">Level:<br><span id="level"></span></p>
					<h2 class="quizlines"><span id="result"></span></h2>
			</div>

		<div class="col-xs-4">
				<h3 class="quizlines">Which of these is the capital city of <span id="capital"></span>?</h3>
				<p class="quizlines">Question Score:<span id="potential"></span></p>
				
				
				<input class="buttonNorm" type="button" id="buttonOne" value="" onclick="clickButOne()">
				<input class="buttonNorm" type="button" id="buttonTwo" value="" onclick="clickButTwo()">
				<input class="buttonNorm" type="button" id="buttonThree" value="" onclick="clickButThree()">
				<input class="buttonNorm" type="button" id="buttonFour" value="" onclick="clickButFour()">
		
			<p class="quizlines">Attempts:<span id= "attempts"></span></p>
			<p class="quizlines">Correct:<span id= "correct"></span></p>
			<h3 id="endMes"><span id="endMessage"></span></h3>
			<div id="endForm">
				<% if logged_in? %>
					<%= form_for(@score) do |f| %>
						<%= f.hidden_field :username, value: current_user.username %>
						<%= f.hidden_field :scoreamount, id: 'finalScore', value: '0' %>
						<%= f.submit 'Continue', class: 'btn btn-default', id: 'home-btn' %>	
					<% end %>
					<% else %>
						<%= link_to 'Continue', root_path, class: 'btn btn-default', id: 'home-btn' %>
					<% end %>"
				</div>
		</div>

	<div class="col-xs-4">
		<h2 class="quizlines" id="current-score">Score:<br><span id="score"></span></h2>
	</div>
	</div>
</div>

