<h1>Leaderboard - Timezones</h1>
<table class="table table-hover">
	<tr>
		<th>Rank</th>
		<th>Username</th>
		<th>Score</th>
	</tr>
	<% indexaddition = 1 %>
	<% @score = ScoresTz.where("scoreamount < 24335") %>
	<% sorted = @score.sort_by{|u| u.scoreamount}.reverse %>
	<% if logged_in? %>
		<% currentscore = ScoresTz.find_by(username: current_user.username) %>
		<% rank = sorted.index(currentscore) %>
		<% if !rank.nil? %>
		<tr class='personal-best'>
			<td><%= rank + 1 %></td>
			<td><%= currentscore.username %></td>
			<td><%= currentscore.scoreamount %></td>
		</tr>
		<% else %>
		<tr class='personal-best'>
			<td><%= 1 %></td>
			<td><%= currentscore.username %></td>
			<td><%= currentscore.scoreamount %></td>
		</tr>
		<% indexaddition = 2 %>
		<% end %>
	<% end %>
	<% sorted.first(20).each do |k| %>
		<tr>
			<td><%= sorted.index(k) + indexaddition %></td>
			<td> <%= k.username %> </td>
			<td> <%= k.scoreamount %> </td>
		</tr>
		<% end %>
	</table>