<header id="topbar">
	<%= link_to "The Capital Cities Quiz", root_path, id: "logo" %>
	<nav>
		<ul class="navbar">
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Leaderboard", leaderboard_path %></li>
			<li><%= link_to "Log In", '#' %></li>
			<li><%= link_to "Register", '#' %></li>
		</ul>
	</nav>
</header>
