<header class="navbar navbar-fixed-top navbar-inverse">
	<div class='container'>
	<%= link_to "The Capital Cities Quiz", root_path, id: "logo" %>
	<nav>
		<ul class="nav navbar-nav navbar-right">

			<li><%= link_to "Home", root_path, class: 'navlink' %></li>
			<li><%= link_to "Leaderboards", leader_select_path, class: 'navlink' %></li>
			<% if logged_in? %>
				<li><%= link_to "Log Out", logout_path, method: "delete", class: 'navlink' %></li>
			<% else %>
				<li><%= link_to "Log In", login_path, class: 'navlink' %></li>
				<li><%= link_to "Register", signup_path, class: 'navlink' %></li>

			<% end %>
			<li><div class="fb-share-button" data-href="https://www.thecapitalcitiesquiz.com/" data-layout="button"></div></li>
		</ul>
	</nav>
</div>
</header>
